.container {
  max-width: 800px;
  margin: 0 auto;
}
.disclaimer {
  text-align: center;
}
.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  position: relative;
}
#lives {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 20px;
  border: 1px solid #000;
}
#score {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 20px;
  border: 1px solid #000;
}
#dino {
  width: 50px;
  height: 50px;
  background: url("img/dino.gif") center 16px no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  transition: bottom 200ms;
}
#dinoResults {
  width: 50px;
  height: 50px;
}
#dinoResults.animate {
  animation: showDinoResults 500ms linear;
}
#agave {
  width: 40px;
  height: 40px;
  background: url("img/agave.png") center 10px no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  left: 580px;
}
#agave.animate {
  animation: cactusMove 1.5s infinite linear;
}
#pause {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
  width: 50px;
  height: 20px;
  animation: blink 1000ms infinite steps(1, end);
}
#bonus {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  left: -100;
  visibility: hidden;
}
#bonus.activeBonus:not(.health) {
  visibility: visible;
  background: url("img/money.png") center no-repeat;
  background-size: contain;
}
#bonus.health {
  visibility: visible;
  background: url("img/heart.png") center no-repeat;
  background-size: contain;
}

.jump {
  animation: dinoJump 500ms ease-in-out;
}

@keyframes cactusMove {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

@keyframes dinoJump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes showDinoResults {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
