.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  position: relative;
}
#lives {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 20px;
  border: 1px solid #000;
}
#score {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 20px;
  border: 1px solid #000;
}
#dino {
  width: 50px;
  height: 50px;
  background: url("img/dino.gif") center 16px no-repeat;
  background-size: contain;
  position: relative;
  top: 150px;
}
#agave {
  width: 40px;
  height: 40px;
  background: url("img/agave.png") center 10px no-repeat;
  background-size: contain;
  position: relative;
  top: 110px;
  left: 580px;
}
#agave.animated {
  animation: cactusMove 1s infinite linear;
}
.jump {
  animation: dinoJump 0.3s linear;
}

@keyframes cactusMove {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

@keyframes dinoJump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}
